/* LIGHT THEM */

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    position: relative;
}

page {
    margin: 0 50px;
}

header {
    background-image: url("images/code_2.jpg");
    background-size: cover;
    width: 100%;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: .8;
}

h1 {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
}

h2 {
    margin: 0;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
}

h3 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.theme-wrapper {
    z-index: 2;
    position: fixed;
    right: 30px;
    top: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.light {
    width: 30px;
    margin-right: 10px;
}

.dark {
    width: 30px;
    margin-left: 10px;
}

.theme {
    width: 50px;
    height: 50px;
    border: 0;
    /*background-image: url("images/dark_mode.svg");*/
    transition: 1s ease-in-out;
}

/*.theme_active {*/
/*    background-image: url("images/light_mode.svg");*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    border: 0;*/
/*    transition: 1s ease-in-out;*/
/*}*/

.header-wrapper {
    padding: 19%;
    cursor: default;
}

.navigation {
    width: 100%;
    height: 50px;
    background-color: #484848;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 10px 0;
}

.navigation-a {
    margin-right: 30px;
    color: #c9c9c9;
    transition: 0.5s ease;
    text-decoration: none;
    width: 130px;
}

.navigation-a:last-child {
    margin-right: 0;
}

.navigation-a:hover {
    color: #ffff;
    transition: 0.5s ease;
    font-size: 18px;
}

.technology {
    padding: 50px 150px 0;
    height: 400px;
}

.title-text {
    font-size: 22px;
    border-bottom: 1px #838383 solid;
    padding-bottom: 15px;
    cursor: default;
    opacity: 0;
    transform: translateX(-50px);
}

.title-text.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateX(0);
}

.technology-wrapper {
    display: flex;
    flex-direction: row;
}

.technology-container {
    display: flex;
    padding: 50px 0 0;
    flex-direction: column;
    width: 50%;
    margin-right: 50px;
}

.technology-container:last-child {
    margin-right: 0;
}

.technology-text-p {
    background: #ebebeb;
    padding: 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: 0.5s ease;
    color: #000;
    cursor: default;
}

.technology-text-p:last-child {
    margin-bottom: 0;
}

.technology-text-p:hover {
    padding: 24px;
    font-size: 18px;
    background: #838383;
    transition: 0.5s ease;
    color: #ffff;
}

.about {
    padding: 50px 150px 0;
}

.about-wrapper {
    padding: 50px 50px 0 50px;
    display: flex;
    cursor: default;
}

.about-img-block {
    width: 50%;
    display: flex;
    justify-content: end;
}

.about-img {
    width: 300px;
    border-radius: 15px;
}

.about-text-block {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.name {
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: end;
    padding: 0 0 30px;
}

.age {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    padding: 0 0 30px;
    text-align: end;
}

.about-me {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.about-me-a {
    color: #3a383796;
    text-decoration: none;
}

.portfolio {
    padding: 50px 150px 0;
}

.portfolio-wrapper {
    padding: 50px 0 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.portfolio-card {
    width: 500px;
    padding: 0 20px 20px 0;
}

.card-wrapper {
    color: #000;
    background-color: #00000017;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
}

.card-wrapper:hover {
    background-color: #3a38377d;
    transition: 0.5s ease-in-out;
    color: #fff;
}

.card-img {
    width: 500px;
    height: 235px;
    border-radius: 20px;
}

.card-text {
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.connection {
    padding: 50px 150px 0;
}

.connection-wrapper {
    padding: 50px 0 50px;
    display: flex;
}

.connection-img {
    width: 50px;
}

.icon-container {
    padding: 0 50px 0 0;
    display: flex;
}

.icon-text {
    color: #000;
    font-size: 20px;
    display: flex;
    align-items: center;
    transition: 0.5s ease-in-out;
}

.icon-text:hover {
    color: #0000009e;
    transition: 0.5s ease-in-out;
}

.arrow-button {
    display: none;
    background-color: #00000017;
    border-radius: 50%;
    border: none;
    transition: 0.5s ease-in-out;
    position: fixed;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
}

.arrow-button:hover {
    background-color: #838383;
    transition: 0.5s ease-in-out;
}

.arrow {
    transform: rotate(180deg);
    width: 30px;
    padding: 15px;
}

.square-one {
    position: absolute;
    height: 400px;
    width: 400px;
    z-index: -1;
    top: 980px;
    animation: rotation 20s linear infinite;
    background-color: #f5eda4;
    border-radius: 20px;
}

.square {
    position: absolute;
    height: 568px;
    width: 568px;
    z-index: -1;
    right: 170px;
    bottom: 170px;
    animation: rotation 20s linear infinite;
    background-color: #f5eda4;
    border-radius: 20px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes slidein {
    from {
        top: 0;
        height: 0;
    }

    to {
        bottom: 0;
        height: 600px;
    }
}

@media (max-width: 1050px) {
    .about-wrapper {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 50px 0 50px 0;
    }

    .about-text-block {
        align-items: start;
        width: 100%;
        padding-top: 50px;
    }
}